#!/bin/bash
cd /var/www/
echo -e "## {{ansible_nodename}} Sites\n" > /var/www/sites/web/sites.txt
echo -e " *  [{{ansible_nodename}}](https://sites.{{ansible_nodename}}.{{base_web_domain}})" >> /var/www/sites/web/sites.txt
find . -maxdepth 1 -type d ! -name '*@*' | sort | while read space  ; do echo -e " * [https:/${space//.}.{{ansible_nodename}}.{{base_web_domain}}](https:/${space//.}.{{ansible_nodename}}.{{base_web_domain}})\n"; done >> /var/www/sites/web/sites.txt
chown root:www-data /var/www/sites/web/sites.txt
chmod 755 /var/www/sites/web/sites.txt